@import url("https://fonts.googleapis.com/css2?family=Passion+One&family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
:root {
  --grey-color: #383a43;
  --black-color: #060606;
  --white-color: #ffffff;
  --primary-color: #009fc7;
  --font-1: "Passion One";
  --font-2: "Roboto";
}

h2 {
  font-size: clamp(26px, 4vw, 46px);
  letter-spacing: 2px;
}
h3 {
  font-size: clamp(20px, 3vw, 26px);
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
  color: var(--white-color);
  resize: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-2);
  color: #222;
  z-index: -1;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
}

.center-sp {
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.nav {
  position: fixed;
  background-color: #1c1c1c74;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #1c1c1cc0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: var(--white-color);
}

.nav.active .container {
  padding: 20px 0;
}

.nav a.current,
.nav a:hover {
  color: var(--primary-color);
  font-weight: bold;
}

.nav .logo {
  width: 140px;
}
.nav .logo img {
  width: 100%;
}

.links__menu-mobile {
  background-color: var(--grey-color);
  position: absolute;
  top: -1000px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 2px;
  transition: 0.6s;
}
.links__menu-mobile.active {
  transform: translateY(1000px);
}

/* -----------banner-------------- */

.banner {
  background-image: url("https://ik.imagekit.io/mrprwema7/OurMarket/IMAGE_USi4VhTkx.png?updatedAt=1695648231968");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.title__container {
  width: clamp(280px, 53vw, 1000px);

  border-left: 10px solid var(--primary-color);
  padding: 20px 30px;
  padding-top: 0;
  margin-top: 80px;
}

.title__container h1 {
  font-family: var(--font-1);
  letter-spacing: 8px;
  font-size: clamp(32px, 8vw, 150px);
}

.banner p {
  letter-spacing: 1px;
  font-size: clamp(14px, 2vw, 26px);
}

/* -----------app-------------- */

.app {
  padding: 100px 10px;
}
.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.right {
  align-items: flex-end;
}
.left h2 {
  line-height: clamp(36px, 5vw, 56px);
}

.text__container {
  max-width: 500px;
}
.text__container h3 {
  margin-bottom: 30px;
}
.text__container p {
  font-size: 16px;
  line-height: 30px;
}

/* -----------function-------------- */

.function {
  background-image: url("https://ik.imagekit.io/mrprwema7/OurMarket/Rectangle_f3CbDXinl.png?updatedAt=1695653463157");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: -2;
  color: var(--white-color);
  padding: clamp(50px, 8vw, 100px) 10px;
}

.function::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
}
.function__col {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.function h2 {
  margin-bottom: 10px;
}
.function p {
  line-height: 30px;
}
.col {
  max-width: 320px;
}
.col h3 {
  margin-bottom: 50px;
  margin-top: 20px;
}
.col .fa-solid {
  color: var(--primary-color);
  font-size: 35px;
}
/* -----------how_work-------------- */

.how_work {
  min-height: 100vh;
  padding: clamp(50px, 8vw, 100px) 10px;
}

.how_work__container h2 {
  margin-bottom: 20px;
}
.how_work__flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.how_work__flex-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
  flex-wrap: wrap-reverse;
}

.how_work__desktop_text {
  width: 50%;
}
.how_work__desktop_text h3,
.how_work__mobile_text h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.how_work__desktop_text p,
.how_work__mobile_text p {
  max-width: 350px;
  line-height: 30px;
}

.how_work__desktop_img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.how_work__mobile_img {
  width: 50%;
}

.img_container {
  max-width: 400px;
  min-width: 280px;
}
.how_work__desktop_img img {
  width: 100%;
}
.img_container_mobile {
  max-width: 400px;
  margin-top: 30px;
  min-width: 280px;
}
.img_container_mobile img {
  width: 100%;
}

/* -------------about-------------- */

.about {
  background-image: url("https://ik.imagekit.io/mrprwema7/OurMarket/Rectangle%20(1)_pb0cfwK9-.png?updatedAt=1695656785784");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: -2;
  color: var(--white-color);
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
}

.clients {
  padding: clamp(50px, 8vw, 100px) 10px;
}
.clients h2 {
  margin-bottom: 80px;
}
.clientes__col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px 20px;
}
.cliente__card {
  max-width: 310px;

  padding: 40px 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px #f1f1f1, -3px -3px 20px #f1f1f1;
}
.row_start {
  display: flex;
  gap: 3px;
  margin-top: 12px;
}
.row_start .fa-star {
  color: var(--primary-color);
}
.cliente__card .fa-quote-left {
  color: var(--primary-color);
  font-size: 32px;
  margin-bottom: 35px;
}

.cliente__card .testimony {
  margin-bottom: 35px;
  line-height: 30px;
}

.contact {
  background-image: url("https://ik.imagekit.io/mrprwema7/OurMarket/Rectangle%20(2)_nuL6D3qtu.png?updatedAt=1695660794169");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
  z-index: -2;
  color: var(--white-color);
  padding: clamp(50px, 8vw, 100px) 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
}
.form__row {
  display: flex;
  gap: 25px;
}
.form__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.form__col p {
  margin-top: 20px;
}
.form__col input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white-color);
  padding: 15px;
}
.form__col label {
  margin-bottom: 10px;
}
.form__col textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--white-color);
  padding: 15px;
}
.send__btn {
  padding: 10px;
  max-width: 120px;
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 5px;
  color: var(--white-color);
}

/* ----footer------ */

.footer {
  background-color: var(--white-color);
  padding: 25px 50px;
  font-size: 15px;
  color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap-reverse;
}

.footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer a {
  color: #737373;
  text-decoration: none;
}
.footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.footer .social-icons {
  text-align: right;
}
.footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #464b55;
}
.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #b0bbc3;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #26a613;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #c619c6;
}
.social-icons a.whatsapp:hover {
  background-color: #26a613;
}
.social-icons a.linkedin:hover {
  background-color: #1d43ad;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  position: relative;
  margin-right: 15px;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: var(--white-color);
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: var(--white-color);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--white-color);
  border-radius: 4px;
  transition: all 0.5s;
}

@media screen and (max-width: 1417px) {
  .clientes__col {
    justify-content: center;
  }
  .clients {
    text-align: center;
  }
}
@media screen and (max-width: 1086px) {
  .how_work {
    text-align: center;
  }

  .how_work__flex {
    justify-content: center;

    flex-wrap: wrap;
  }
  .how_work__flex-mobile {
    justify-content: center;
  }
}

@media screen and (max-width: 856px) {
  .flex {
    flex-direction: column;
    align-items: center;
  }

  #links__menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }
  .banner {
    justify-content: center;
  }

  .title__container {
    margin-left: 10px;
    padding: 10px 15px;
  }

  .title__container h1 {
    margin: 10px 0;
  }

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .left,
  .right {
    width: 100%;
    padding: 25px 10px;
  }
  .right {
    align-items: center;
  }
  .function {
    text-align: center;
  }
  .function__col {
    gap: 35px;
    justify-content: center;
    margin-top: 50px;
  }
  .how_work__container {
    padding: 40px 10px;
  }
  .how_work__desktop_text {
    width: 100%;
    text-align: center;
  }
  .how_work__desktop_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .how_work__desktop_img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .how_work__mobile_img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about {
    flex-direction: column;
    text-align: center;
    padding: 40px 10px;
  }
  .clients {
    text-align: center;
    padding: 40px 20px;
  }
  .clientes__col {
    padding: 0 5px 5px;
  }
  .clients h2 {
    margin-bottom: 40px;
  }
  .row_start {
    display: flex;

    justify-content: center;
  }
  .contact {
    padding: 40px 20px;
    flex-wrap: wrap;
  }
  .left h2 {
    text-align: center;
  }
  .text__container {
    width: 100%;
  }
  .form__row {
    width: 100%;
  }
  .form__row .form__col {
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    justify-content: center;
    text-align: center;
  }
  .copyright-text {
    font-size: 13px;
  }
  .container {
    padding: 0 15px;
  }
}
@media screen and (max-width: 436px) {
  .form__row {
    flex-direction: column;
  }
  .container {
    padding: 0 15px;
  }
}
